*.iml
.gradle
/local.properties
.idea/
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
!/.idea/codeStyles/
!/.idea/runConfiguration/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
